<h1>My Blog</h1>
<%@posts.each do |post|%>
	<h2><%=post.title%></h2>
	<p><%=post.content%></p>
	<small><%=post.created_at%></small>
	
	<td><%= link_to 'Show Details', post_path(post) %></td>
	<td><%= link_to 'Delete', post_path(post), method: :delete, data:{ confirm: 'Are you sure ?'} %></td>
<%end%>

</br>
</br>
<%= link_to 'Add a new post',new_post_path(@post), :class => 'PostsController' %>

